.tasks-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 20px;

  height: calc(100vh - 620px);
  overflow-y: scroll;
  scrollbar-width: none;
}

.tasks-list::-webkit-scrollbar {
  display: none;
}
